.wrapper
  .main__chat

    .main__group
      .main__group__name
        = @group.name
      .main__group__member
        Member:
        - @group.users.each do |user|
          = user.name
      .main__group__editbtn
        = link_to edit_group_path(@group) do
          Edit

    .messages
      = render @messages

    .main__form
      = form_for [@group, @message] do |f|
        .main__form__oya
          = f.text_field :content, class: 'main__form__oya__input', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'main__form__oya__submit'