.wrapper
  .side-bar
    .header
      %ul.header__items
        %li.header__items__name
          = current_user.name
        %li.header__items__icons
          = link_to "#", class: "header__items__icons__edit" do
            = icon('far', 'fa-edit')
            %i.far.fa-edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'fa-cog', class:"header__items__icons__cog")
            %i.fas.fa-cog

    .groups
      .groups__list
        %p.groups__list__name
          グループ名
        %p.groups__list__message
          メッセージ
      .groups__list
        %p.groups__list__name
          グループ名
        %p.groups__list__message
          メッセージ