.wrapper
  .side-bar
    .header
      .items
        .items__name
          = current_user.name
        .items__icons
          = link_to new_group_path do
            %i.fa.fa-edit.items__icons__edit
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.items__icons__cog

    .groups
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。